nav {
    display: flex;
    padding: 15px 25px;
    border-bottom: 2px solid white;
    font-size: 18px;
}



nav li {
    list-style: none;
    padding: 0 25px;
    cursor: pointer;
}

a{
    color: black;
    text-decoration: none;
}

main{
    margin-top: 30px;
}


body{
background-color: lightgray;
color:black;
font-family: "Fuzzy Bubbles",sans-serif;

}

.btn{
    margin-top: 20px;
    margin-bottom: 100px;
    cursor: pointer;
}

.text{
    margin-left: 550px;
    width: 400px;
    height: 150px;
}




.fa-linkedin{
    color: blue;
    font-size: 45px;
    margin-left: 750px;
}



footer{
    
    border: 2px solid white;
    background-color: white;
} 


body.dark {
  background-color: black;
  color: white;
}


body.dark h1,
body.dark p,
body.dark label,
body.dark li,
body.dark a {
  color: white;
}


body.dark nav {
  border-bottom: 2px solid grey;
}


body.dark form {
  background-color: #111;
  padding: 20px;
  border-radius: 12px;
}


body.dark input,
body.dark textarea {
  background-color: black;
  color: white;
  border: 1px solid grey;
}

body.dark input::placeholder,
body.dark textarea::placeholder {
  color: whitesmoke;
}


body.dark .btn {
  background-color: grey;
  color: black;
  border: none;
}

body.dark .btn:hover {
  background-color: white;
  color: black;
}


body.dark .toggle {
  background-color: black;
  color: white;
  border: 1px solid grey;
}


body.dark footer {
  background-color: grey;
}

body.dark footer a,
body.dark footer i {
  color: white;
}
