body{
background-color: lightgray;
color:black;
font-family: "Fuzzy Bubbles",sans-serif;
}


nav {
    display: flex;
    padding: 15px 25px;
    border-bottom: 2px solid white;
    font-size: 18px;
}


nav li {
    list-style: none;
    padding: 0 25px;
    cursor: pointer;
}


h1{
    margin: 20px;
    color: black;
   
}



main p{
    font-size: 18px;
    color: black;
}

a{
    color: black;
    text-decoration: none;
}

.cta{
  text-align: center;
  padding: 20px;
}

.cta a{
    text-decoration: none;
    padding: 10px 25px;
    background-color: gray;
    color: black;
    margin-top: 10px;
}

.backgroundimg{
    width: 400px;
    margin: 20px;
    margin-left: 500px;
    display: block;
    

}



body.dark {
  background-color: black;
  color: white;
}

body.dark h1,
body.dark p,
body.dark a,
body.dark li {
  color: white;
}

body.dark .cta a {
  color: white;
}
