body{
    background-color: lightgrey;
    color:black;
    font-family: "Fuzzy Bubbles",sans-serif;


}

nav {
  display: flex;
  padding: 15px 25px;
  border-bottom: 2px solid white;
  font-size: 18px;
}

nav li {
  list-style: none;
  padding: 0 25px;
  cursor: pointer;
}

nav a {
  color: black;
  text-decoration: none;
}

.SSimg{
width: 720px;
height: 360px;
display: flex;
margin-top: 20px;
margin-left: 375px;
}


.figma{
  border: 3px solid white;
  width: 300px;
  margin-left: 550px;
}

body.dark {
  background-color: black;
  color: white;
}

body.dark h1,
body.dark h2,
body.dark h3,
body.dark p,
body.dark a,
body.dark li {
  color: white;
}